{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-9">
        <div class="jumbotron">
            <h1>{{ 'homepage.krakdevs'|trans }}</h1>
            <p>{{ 'homepage.description'|trans }}</p>
        </div>
    </div>
    <div class="col-lg-3">
        <h2>{{ 'homepage.sponsors'|trans }}</h2>
        <div class="sponsors">
            <div class="sponsor">
            <a href="http://www.jetbrains.com/"><img class="jetbrains" src="{{ asset('images/logo_JB_tagline.png') }}" alt="JetBrains" /></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <h1>{{ 'homepage.event.upcoming'|trans }}</h1>
        <hr />
        {% if upcomingEvent is not null %}
            <div class="event">
                <h3 class="media-heading">{{ upcomingEvent.title }}</h3>
                <div>{{ upcomingEvent.date|date("Y-m-d H:i:s") }}</div>
                <div>{{ 'homepage.event.location'|trans }} <a target="_blank" href="{{ upcomingEvent.locationUrl }}">{{ upcomingEvent.locationName }}</a> </div>
                <div>{{ 'homepage.event.event_master'|trans }} {{ upcomingEvent.eventMaster.username }}</div>
                <div class="description">
                    {{ upcomingEvent.description|raw }}
                </div>
            </div>
        {% else %}
            <p>
                {{ 'homepage.event.no_upcoming_message'|trans }}
            </p>
            <a href="https://www.facebook.com/groups/krakdevs/" target="_blank">https://www.facebook.com/groups/krakdevs/</a>
        {% endif %}
    </div>
    <div class="col-lg-5 col-lg-offset-2">
        <h1>{{ 'homepage.event.previous'|trans }}</h1>
        <hr />
        {% for event in previousEvents %}
            <div class="event">
                <h3 class="media-heading">{{ event.title }}</h3>
                <div>{{ event.date|date("Y-m-d H:i:s") }}</div>
                <div>{{ 'homepage.event.event_master'|trans }} {{ event.eventMaster.username }}</div>
                <div><a href="{{ path('krakdevs_event', {'slug': event.slug}) }}">{{ 'homepage.event.read_more'|trans }}</a></div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
'css/homepage.css'
filter='cssrewrite' output='css/compiled/homepage.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}